body 
{
  margin:0;
}
#d1
{
    width:100%;
    height:auto;
}
ul 
{
    list-style-type: none;
    margin-left:10px;
	margin-right:10px;
    padding:0px;
    overflow: hidden;
    background-color:#4CAF50;
    max-width: 100%;
	border:1px transparent;
	border-radius:4px;
}
li 
{
    float: left;
}

li a 
{
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) 
{
    background-color: pink;
}

.active 
{
    background-color:orange;
}
#d2
{
    max-width:100%;
}
#i1
{
    float:right;
}
#i2
{
    float:left;
}
#d3
{
    max-width:100%;
}
h1
{
    color:red;
}
p
{
    text-align:center;
}
h2
{
    color:purple;
}
#d4
{
     max-width:100%;
     position:absolute;
}
#d5
{
     max-width:100%;
     float:right;
}