body 
{
  margin:0;
}
#d1
{
    max-width:100%;
    max-height:auto;
}
ul 
{
    list-style-type: none;
    margin-left:10px;
	margin-right:10px;
    padding:0px;
    overflow: hidden;
    background-color:#4CAF50;
    max-width: 100%;
	border:1px transparent;
	border-radius:4px;
}
li 
{
    float: left;
}

li a 
{
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) 
{
    background-color: pink;
}

.active 
{
    background-color:orange;
}
#d2
{
    margin-left:75px;
    max-width:100%;
    max-height:auto;
}
#bn
{
    max-width:100%;
    max-height:auto;
    margin-left:50px;
    background-color:orange;
    color:white;
    border:1px solid red;
    border-radius:5px;
}
#bn1
{
    max-width:100%;
    max-height:auto;
    margin-left:500px;
    background-color:purple;
    color:white;
    border:1px solid tomato;
    border-radius:5px;
}
#bn2
{
    max-width:100%;
    max-height:auto;
    float:right;
    background-color:tomato;
    color:white;
    border:1px solid purple;
    border-radius:5px;
}
h2
{
    margin-left:450px;
    color:red;
    text-decoration:underline;
    size:40px;
}